<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/highlight.css">
</head>
<body>
  {% include navigation.html %}

  {% if page.header %}
      {% include header.html %}
  {% endif %}

  <section class="content" id="wrapper">
    {{ content }}
  </section>

  <script src="{{ site.baseurl }}assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>



